@import '~styles/functions';
.FoundCar {
  padding: spacing(base);
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: color(light);
  border-radius: 5px;
  box-shadow: 0px 1px 15px rgba(color(dark), 0.1);

  & > h2 {
    margin-bottom: spacing(base);
  }

  &_actions {
    display: flex;
    margin-top: spacing(base);

    & > * {
      margin: 0 spacing(small);
    }
  }
  @include media(media(medium, down)) {
    box-shadow: none;
    border-radius: 0px;

    &_actions {
      flex-direction: column;

      & > * {
        margin: spacing(small) 0;
      }
    }
  }
}
