@import '~styles/functions';

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: color(green, light);
}

::-webkit-scrollbar-thumb {
  background: color(green);
  border-radius: 5px;
  border: none;
}
