@import '~styles/functions';

* {
  font-family: Varela, sans-serif;
}

h1 {
  font-size: font-size(h1);

  @include media(media(large, down)) {
    font-size: font-size(h1Mobile);
  }
}

h2 {
  font-size: font-size(h2);
}

p,
a {
  font-size: font-size(body);
}
