@import '~styles/functions';

.Input {
  background-color: color(light);
  border-radius: 5px;
  box-shadow: 0px 1px 15px rgba(color(dark), 0.1);
  border-color: transparent;
  outline: none;
  padding: spacing(small);
  width: 100%;
  box-sizing: border-box;
}
