@import '~styles/functions';

.ProgressBar {
  height: 100%;
  width: 100%;
  position: relative;

  &_inner {
    height: 100%;
    background-color: color(green);
    border-radius: 5px;
    transition: width timing(long) easing(standard);
  }
}
