@import '~styles/functions';

.Button {
  padding: spacing(small) spacing(base);
  height: auto;
  display: flex;
  align-items: center;
  border: none;
  justify-content: center;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  transition: color timing(short) easing(standard), background-color timing(short) easing(standard);
  background-color: color(green);
  color: color(light);
  font-weight: bold;
  border-radius: 5px;
  font-size: font-size(h3);

  &___primary {
    background-color: color(green);
    border: solid color(green) 2px;
  }

  &___secondary {
    background-color: color(light);
    border: solid color(green) 2px;
    color: color(green);
  }

  &___disabled {
    cursor: default;
    background-color: color(pale);
    border-color: color(dark);
    color: color(dark);
  }
  &:focus {
    outline: none;
  }
}
