@import '~styles/functions';
.PoloFinder {
  position: relative;
  overflow: hidden;
  height: 100%;

  &_progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 100%;
  }

  &_content {
    padding: spacing(large);
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }

  @include media(media(medium, down)) {
    &_content {
      background-color: color(light);
      padding: spacing(base);
    }
  }

  @include media(media(small, down)) {
    width: 100%;
    border-radius: 0;

    &_content {
      padding: spacing(small);
    }
  }
}
