@import "~styles/functions";

.Questions {
  padding: spacing(base);
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: color(light);
  border-radius: 5px;
  box-shadow: 0px 1px 15px rgba(color(dark), 0.1);

  &_text {
    color: color(green, dark);
    margin-bottom: spacing(small);
    text-align: center;
  }

  &_input {
    margin-bottom: spacing(small);
    width: 70%;
    max-width: 400px;
    min-width: 200px;
  }

  &_actions {
    display: flex;
    width: 50%;
    justify-content: center;
    & > * {
      margin: 0 spacing(small);
    }
  }

  @include media(media(medium, down)) {
    box-shadow: none;
    border-radius: 0px;

    &_actions {
      flex-direction: column;
      align-items: center;
      & > * {
        margin: spacing(small) 0;
      }
    }
  }
}
