@import '~styles/functions';

.Select {
  background-color: color(light);
  position: relative;
  user-select: none;

  &_selected {
    cursor: pointer;
    padding: spacing(small);
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 1px 15px rgba(color(dark), 0.1);

    &_icon {
      padding: spacing(xsmall);
      width: 15px;
      height: 15px;
      background-color: color(green, light);
      border-radius: 50%;
      margin-right: spacing(small);
    }

    &_chevron {
      padding: spacing(xsmall);
      width: 15px;
      height: 15px;
      background-color: color(green, light);
      border-radius: 50%;
      margin-left: auto;
      color: color(green);
    }
  }

  &_options {
    position: absolute;
    width: 100%;
    top: calc(100% + #{spacing(small)});
    background-color: color(light);
    border-radius: 5px;
    box-shadow: 0px 1px 15px rgba(color(dark), 0.1);
    overflow: auto;
    max-height: 30vh;
  }

  &_option {
    cursor: pointer;
    padding: spacing(small);
    display: flex;
    align-items: center;
    &:hover {
      background-color: color(green);
    }

    &_icon {
      padding: spacing(xsmall);
      width: 15px;
      height: 15px;
      background-color: color(green, light);
      border-radius: 50%;
      margin-right: spacing(small);
    }
  }
}
