@import '~styles/functions';
.TryAgain {
  padding: spacing(base);
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: color(light);
  border-radius: 5px;
  box-shadow: 0px 1px 15px rgba(color(dark), 0.1);

  & > h2 {
    margin-bottom: spacing(base);
  }

  @include media(media(medium, down)) {
    box-shadow: none;
    border-radius: 0px;
  }
}
