$colors: (
  light: (
    default: #fff,
  ),
  pale: (
    default: #f5f6fa,
  ),
  dark: (
    default: #0d1b30,
  ),
  green: (
    light: #cef2e6,
    default: #0ac083,
    dark: #0bbf7d,
  ),
);

/*
  Returns a color for a given key and optional variant

  Example usage;
  color(light)

  Output: #FFF
*/
@function color($color, $variant: default) {
  $colorMap: map-get($colors, $color);
  @return map-get($colorMap, $variant);
}
