$media: (
  small: 600px,
  medium: 800px,
  large: 1200px,
  xlarge: 1400px,
);

/*
  Returns a media size for a given key and direction

  Example usage;
  media(large, up)

  Output: (min-width: 1200px)
*/
@function media($mediaSize, $direction: up) {
  $pxSize: map-get($media, $mediaSize);

  @if $direction == up {
    @return '(min-width: #{$pxSize})';
  } @else if $direction == down {
    @return '(max-width: #{$pxSize})';
  }
}


/*
  Returns a media query for a given set of valid media arguments 
  
  Example Usage:
  @include media(media(large), down){

    -->MEDIA SIZED STYLES<--

  }

  Output:
  @media(screen and (max-width: 1200px)){

  }
*/
@mixin media($args) {
  $query: 'screen';

  @each $arg in $args {
    $operand: ' and ';

    $query: $query + $operand + $arg;
  }

  @media #{$query} {
    @content;
  }
}

