$spacing: (
  xsmall: 8px,
  small: 16px,
  base: 24px,
  medium: 40px,
  large: 64px,
);

/*
  Returns a spacing for a given key

  Example usage;
  spacing(large)

  Output: 50px
*/
@function spacing($size) {
  @return map-get($spacing, $size);
}
