$timings: (
  short: 0.2s,
  base: 0.5s,
  long: 1s,
);

/*
  Returns a timing for a given key

  Example usage;
  timing(long)

  Output: 1s
*/
@function timing($lenth) {
  @return map-get($timings, $lenth);
}
