$font-sizes: (
  h1: 36px,
  h1Mobile: 24px,
  h2: 26px,
  body: 14px,
  small: 12px,
  subtext: 10px,
);

/*
  Returns a font size for a given key

  Example usage;
  font-size(h1)

  Output: 18px
*/
@function font-size($size) {
  @return map-get($font-sizes, $size);
}
