$indices: (
  push-back: -2,  
  base: 0,
  bring-forward: 1,
  top: 5,
  force-top: 10,
  modal: 100,
  max: 100000,
);

/*
  Returns a z-index for a given height

  Example: z-index(bring-forward)

  Output: 1
*/
@function z-index($index) {
  @return map-get($indices, $index);
}
