@import '~styles/functions';

.PoloFinderPage {
  height: 100%;
  width: 100%;
  justify-content: stretch;
  display: flex;
  flex-direction: column;

  &_header {
    display: flex;
    background-color: color(light);
    box-shadow: 0px 1px 5px rgba(color(dark), 0.1);
    padding: spacing(base);

    & > h1 {
      color: color(green);
    }
  }

  &_content {
    height: 100%;
  }
}
